# -------------------------------- .dockerignore ------------------------------ #
# ---- https://docs.docker.com/reference/dockerfile/#dockerignore-file ---- #
.DS_Store
.git/
.gitignore
LICENSE
*.md
venv/
